# =============================================================================
# Istiod Helm Values
# =============================================================================
pilot:
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi

meshConfig:
  enableAutoMtls: true
  accessLogFile: /dev/stdout

global:
  proxy:
    holdApplicationUntilProxyStarts: true
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 256Mi

